<div class="mb-3">
  <label for="prdCat" class="form-label">Category:</label>
  <select multiple class="form-select form-select-lg" name="Cat" id="prdCat" [(ngModel)]="selectedCatId"> <!--two way binding-->
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>
<div class="text-secondary">
  [TO BE DELETED] for test:
  {{selectedCatId}}
</div>
<hr>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Av.Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prd of prdList">
      <td>{{prd.id}}</td>
      <td>{{prd.name}}</td>
      <td><img [src]="prd.imgURL" alt=""></td>
      <td>{{prd.quantity}}</td>
      <td>{{prd.price}}</td>
      <!-- template variable -->
      <td><input #itemsCount type="number" class="form-control">Count</td>
      <td><button type="button" class="btn btn-secondary" (click)="buy(prd.price,itemsCount.value)">Buy</button></td>
    </tr>
  </tbody>
</table>
<hr>
<h3>Order Total Price :{{orderTotalPrice}}</h3>
